body{
	margin: 0;
	font-family: Georgia, Times;
	font-size: 16px;
}

#github{
	padding: 15px;
	font-size: 1.2em;
	font-style: italic;
}
#github a{
	color: #2B7DA3;
}

#content{
	width: 960px;
	margin: 0 auto;
}

#header{
	text-align: center;
	width: 100%;
	margin-top: 10px;
}
#header #title{
	font-size: 32px;
	text-decoration: underline;
}
#header #name{
	font-size: 16px;
}

#content .image{
	width: 500px;
	margin: 20px auto;
	border: 1px solid #858585;
	padding: 3px;
}
#content .image .caption{
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
}
#content .image img{
	width: 500px;
}

#body{
	margin-top: 20px;
}
